<h3>{{category.name}} Posts</h3>

<ul>
{{#each category.posts as |post|}}
  <li>{{post.title}}</li>
{{/each}}
</ul>

<!-- {{admin-post-tile post=post destroyPost="destroyPost" editPost="editPost"}} -->
