// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

.background {
  background-image: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("/img/burning-man.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}
