// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  h1 {
    font-size: 80px;
  }
}
