<div class="jumbotron">
  <div class="container">
    <h1>FRINGE</h1>
      {{#link-to 'admin'}}ADMIN{{/link-to}}
      {{#link-to 'about'}}ABOUT{{/link-to}}
      {{#link-to 'contact'}}CONTACT{{/link-to}}
      {{#link-to 'index'}}HOME{{/link-to}}
  </div>
</div>
<div class="container">
  {{liquid-outlet}}
</div>
