<div class="background">
  <div class="nav">
    <div class="logo">{{#link-to 'index'}}HOME{{/link-to}}</div>
    <div class="links">
      {{#link-to 'admin'}}ADMIN{{/link-to}}
      {{#link-to 'about'}}ABOUT{{/link-to}}
      {{#link-to 'contact'}}CONTACT{{/link-to}}
    </div>
  </div>
  <div class="container">
    {{liquid-outlet}}
  </div>
</div>
